extends main-layout

block head
	-var title = "Register - Goan Convention 2014";
	-var bodyClass = "register"
	-var description = "There are two ways to register for the 2014 Goan Convention. You can register and pay online, or you can fill a form and mail it with a cheque."
	script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	script(type='text/javascript', src='/javascripts/waypoints.min.js')
	script(type='text/javascript', src='/javascripts/register.js')

block content
	section.container
		h1 REGISTRATION
		.instructions <strong>There are two ways to register.</strong> You can register and pay online, or you can fill a form and mail it with a cheque. Please select your option below. 
		a.big-block.left.register-now.online(href="http://events.r20.constantcontact.com/register/event?llr=q6yb97pab&oeidk=a07e8z15x1377ca2e13",target="_blank") 
			i.fa.fa-check-circle
			| Online Registration Page
		a.big-block.right.register-now.mail-in(href="/files/registration.pdf",target="_blank") 
			i.fa.fa-envelope
			| Mail-in Registration Form
		hr
		.registrants-head
			i.fa.fa-globe 
			| Who's Coming So Far?
		.registrants-count #{count} people in #{families.length} families
		//googleoff: all
		.registrants
			each family in families
				.family
					.lastname= family.last
					.city #{family.city}, #{family.state}
					.guests  &mdash; #{family.first}
						each guest in family.guests
							| , #{guest}
		//googleon: all